<div class="container">
	<div class="row">
		<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

		<h2>New book</h2>
		<%= render 'books/newform' %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr>
					<td>
						
						<%= attachment_image_tag(@bookd.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
						<%= link_to @bookd.user.name, user_path(@bookd.user) %>
					
					</td>
					<td><%= link_to @bookd.title, @book %></td>
					<td><%= @bookd.body %></td>
					<td>
						<%= render 'favorites/favorite', book: @bookd %>
					</td>

					<td>
						<p>コメント数：
						<%= @bookd.book_comments.count %></p>
					</td>
					<% if @bookd.user_id == current_user.id %>
					<td><%= link_to "Edit",edit_book_path(@bookd), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
					<td><%= link_to "Destroy",book_path, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
					<% end %>
				</tr>
			</table>
			<div class="comment_area">
				<%= render 'book_comments/form', comment: @book_comment, book: @bookd %>
				<%= render 'book_comments/comment', comments: @bookd.book_comments %>
			</div>
	</div>
	</div>
</div>

