<div class="container">
	<div class="row">
		<div class="col-xs-3">

		<h2>User info</h2>
		<%= render 'users/profile', user: @user %>

		<h2>New book</h2>
		<%= render 'books/newform' %>

	</div>

	<div class="col-xs-9">
		<h2>Book detail</h2>

		<table class="table">
				<tr>
					<td>
						
						<%= attachment_image_tag(@bookd.user, :profile_image, :fill, 100, 100, fallback: "no-image-mini.jpg") %><br>
						<%= link_to @bookd.user.name, user_path(@bookd.user) %>
					
					</td>
					<td><%= link_to @bookd.title, @book %></td>
					<td><%= @bookd.body %></td>
					<td>
						<% if @bookd.favorited_by?(current_user) %>
							<%= link_to book_favorites_path(@bookd), method: :delete do %>
								<i class="fa fa-heart" aria-hidden="true" style="color: red;">	
								</i>
							<% end %>
							<%= @bookd.favorites.count %>
						<% else %>
							<%= link_to book_favorites_path(@bookd), method: :post do %>
								<i class="fa fa-heart-o" area-hidden="true" style="color: red;">
								</i>
							<% end %>
							<%= @bookd.favorites.count %>
						<% end %>
					</td>

					<td>
						<p>コメント数：
						<%= @bookd.book_comments.count %></p>
					</td>
					<% if @bookd.user_id == current_user.id %>
					<td><%= link_to "Edit",edit_book_path(@bookd), class: "btn-sm btn-success edit_book_#{@book.id}" %></td>
					<td><%= link_to "Destroy",book_path, method: :delete, data: {confirm: "本当に削除してもよろしいですか？"}, class: "btn-sm btn-danger destroy_book_#{@book.id}" %></td>
					<% end %>
				</tr>
			</table>
			<%= form_for [@bookd, @book_comment] do |f| %>
			<div class="row">
				<div class="col-xs-9">
					<%= f.text_area :comment, rows:'5', class: "form-control", placeholder:"コメントをここに" %>
				</div>
				<div class="col-xs-2">
					<%= f.submit "送信する" %>
				</div>
			</div>
			
			<% end %>
			<ol>
				<% @book_book_comments.each do |book_comment| %>
				<li class="comment">
					<%= book_comment.user.name %>
					<div class="comment-entry"><%= book_comment.comment %>
						<% if user_signed_in? && book_comment.user == current_user %>
						<div class="destroy-button">
						<%= link_to "Destroy",book_book_comments_path(book_comment), method: :delete, class: "btn-sm btn-danger destroy" %>
						</div>
						<% end %>
					</div>
				</li>
				<% end %>
			</ol>
	</div>
	</div>
</div>

